@import url('https://fonts.googleapis.com/css?family=Gudea|Rancho');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

* {
  box-sizing: border-box;
  color: #13022C;
}


body {
  font-family: 'Gudea', sans-serif;
}

.App {
  max-width: 1200px;
  padding: 8px;
  margin: 0 auto;
}

.heading {
  font-family: 'Rancho', cursive;
  font-weight: normal;
}