header {
    padding: 20px 0;
    width: 100%;
    z-index: 3;
}

header .heading {
    font-size: 32px;
    margin: 0;
    color: #13022C;
    display: block;
    float: left;
    padding: 10px 20px;
    text-decoration: none;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

.nav-link {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}

.nav-link:hover,
header .menu-btn:hover {
    background-color: #f4f4f4;
}


header #menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

header #menu-icon {
    cursor: pointer;
    float: right;
    padding: 22px 20px;
    position: relative;
    user-select: none;
    margin-top: 7px;

}

header #menu-icon #navicon {
    background: #13022C;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
    border-radius: 3px;
}

header #menu-icon #navicon:before,
header #menu-icon #navicon:after {
    background: #13022C;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
    border-radius: 3px;
}

header #menu-icon #navicon:before {
    top: 5px;
}

header #menu-icon #navicon:after {
    top: -5px;
}

header #menu-btn {
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

header #menu-btn:checked~#menu {
    max-height: 240px;
}

header #menu-btn:checked~#menu-icon #navicon {
    background: transparent;
}

header #menu-btn:checked~#menu-icon #navicon:before {
    transform: rotate(-45deg);
}

header #menu-btn:checked~#menu-icon #navicon:after {
    transform: rotate(45deg);
}

header #menu-btn:checked~#menu-icon:not(.steps) #navicon:before,
header #menu-btn:checked~#menu-icon:not(.steps) #navicon:after {
    top: 0;
}

@media (min-width: 768px) {

    header .heading {
        font-size: 38px;
    }

    header li {
        float: left;
    }

    .nav-link {
        padding: 20px 30px;
    }

    header #menu {
        clear: none;
        float: right;
        max-height: none;
    }

    header #menu-icon {
        display: none;
    }
}