header {
    padding: 20px 0;
    width: 100%;
    z-index: 3;
}

header .heading {
    font-size: 32px;
    margin: 0;
    color: #13022C;
    display: block;
    float: left;
    padding: 10px 20px;
    text-decoration: none;
}

@media (min-width: 768px) {

    header .heading {
        font-size: 38px;
    }
}